.classname {
  background: #FFFFFF;

  color: red;

  .a {
    .b {
      .c {
        .d {
          text-align: center;
        }
      }
    }
  }
}

.test{font-size:16px}

.test:before {
  content: "something";
  width: 10.0%;
}
